/* .imageBlock {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  margin-bottom: 28px;
}
.carImg {
  border-radius: 10px;
  width: 292px;
  height: 312px;
} */
