.fullPage{
    display: flex;
    width: 1204px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border: none;
     
 
};

.SearchBox{
width: 183px;
border: none;
margin-bottom: 81px;
margin-left: 68px;
}

.teachersList{
    width: 1184px;
    row-gap: 32px;
    border: none;  
    padding: 24px; 
    margin-bottom: 15px;
}

.btnLoad{
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}