/* .list {
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 32px;
  list-style: none;
  margin-bottom: 40px;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  border: none;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: var(--button);
  cursor: pointer;
  display: flex;
  width: 173px;
}

.button:hover {
  background: var(--button-hover);
}

.card {
  display: flex;
  flex-direction: row;
  padding: 24px;
  column-gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
}

.imgWrapper {
  border: none;
  border-radius: 10px;
  width: 292px;
  height: 320px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carImg {
  object-fit: cover;
  width: 292px;
  height: 100%;
  object-fit: cover;
}

.carFirstTxt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 1.33333;
  color: var(--main);
}

.hurdBtn {
  background-color: transparent;
  border: none;
  margin-left: 12px;
}

.name {
  display: flex;
  width: 367px;
}

.secondLine {
  display: flex;
  justify-content: left;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  text-decoration-skip-ink: none;
  color: var(--main);
}

.star {
  fill: var(--rating);
  margin-right: 4px;
}
.raiting {
  display: flex;
  text-decoration: underline;
  margin-right: 16px;
}

.map {
  margin-right: 4px;
}
.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 524px;
  margin-bottom: 24px;
}

.typeHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.active{
  fill:var(--button);
} */