.filtresBlock{
    display: inline-flex;
    margin-top: 96px;
    margin-left: 82px;
    column-gap: 20px;
}

.fieldBlock{
    display: flex;
    flex-direction: column;
    gap: 8px;    
}

.filtrlable{

font-weight: 500;
font-size: 14px;
line-height: 1.28571;
color: #8a8a89;
}


.filtrFieldPadding{
    display: block;
padding-left: 16px;
padding-right: 16px;
border-radius: 14px;
/* width: 221px; */
height: 48px;
background: #fff;

}

.filtrField{
border-radius: 14px;
/* width: 190px; */
height: 48px;
background: #fff;
border: 0px solid transparent;
outline: none;
}

.filtrField:hover, :fockus, :active{
    border: none;
    outline: none;
}
